

.nav-bar {
    margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #FF8C00;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  color: white;
}

.nav-ul {
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.report-incident{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

a{
    text-decoration: none;
    color: black;
}
