@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #FF8C00;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px 35px;
    border-radius: 5px;
    height: 30px;
    color: white;
    font-size: 0.8rem;
    
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    white-space: nowrap;

}

.nav-ul a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    display: flex;
}

.nav-ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.report-incident {
    background-color: white;
    border-radius: 8px;
    padding: 8px 25px;
}

a {
    text-decoration: none;
    color: black;
}


      .handbook {
        font-size: 2rem;
        background-color: #feeded;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .policies_guidlines {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        float: left;
        margin-bottom: 100px;
      }

      .card1,
      .card2,
      .card3,
      .card4 {
        margin: 20px;
        padding: 20px;
        font-size: 2.25rem;
        font-weight: bold;
        background-color: #feeded;
        height: 156px;
        width: 504px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        float: left;
        margin-left: 80px;
      }

      .footer {
        margin-top: auto;
        height: 40px;
        background-color: #f3eeed;
        position: fixed;
        bottom: 0;
        width: 100%;
      }
      .footer1 {
        text-align: center;
        font-size: 13px;
        margin-top: 0.8rem;
      }