@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #FF8C00;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px 35px;
    border-radius: 5px;
    height: 30px;
    color: white;
    font-size: 0.8rem;
    
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    white-space: nowrap;

}

.nav-ul a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    display: flex;
}

.nav-ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.report-incident {
    background-color: white;
    border-radius: 8px;
    padding: 8px 25px;
}

a {
    text-decoration: none;
    color: black;
}

.welcome-banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px
    
}

.title1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
}

.title2{
    font-size: 18px;
    margin-bottom: 20px;
}

.navbutton{
    background-color: #FF8C00;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    border-radius: 14px;
}

a{
    text-decoration: none;
    color: black;
}

/*infobox*/

.infobox-mother{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:  20px 300px;


}

.infobox{
    border: 2px solid gray;
    border-radius: 10px;
    padding:30px 20px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 150px;

}

.smoltitle{
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 20px;
}

.smoldes{
    font-size: 14px;
}

.hcons{
    width: 35px;
    padding-right: 6px;
}

.imgndes{
    display: flex;
}


/*report an incident*/

.repin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
}

/*footer*/

.footer {
    margin-top: auto;
    height: 40px;
    background-color: #f3eeed;
    text-align: center;
    padding: 30px; 
}