
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #FF8C00;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.logoimg{
    width: 250px
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    white-space: nowrap;

}

.nav-ul a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    display: flex;
}

.nav-ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.report-incident {
    background-color: white;
    border-radius: 8px;
    padding: 8px 25px;
}

a {
    text-decoration: none;
    color: black;
}




.title-banner {
    font-size: 2rem;
    background-color: #FEEDED; 
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.incident-form {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.form-row {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.flex-2 { flex: 2; }
.flex-1 { flex: 1; }

label {
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 14px;
    text-align: left;
}

input, select, textarea {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: none;
}


.upload-box, .info-box {
    background-color: #fcfcfc;
    border: 1px solid #eee;
    padding: 25px;
    border-radius: 12px;
    min-height: 250px; 
    display: flex;
    flex-direction: column;
}

.upload-box {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-box {
    background-color: #FEF8F8; 
    justify-content: flex-start;
    gap: 10px;
}


.icons {
    font-size: 24px;
    margin: 15px 0;
}

.btn-browse {
    background-color: #FF8C00;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.upload-footer {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}


.form-actions {
    display: flex;
    justify-content: flex-end; /* Pushes buttons to right */
    gap: 15px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.btn-submit {
    background-color: #FF8C00;
    color: white;
    border: none;
    font-weight: bold;
}

.btn-cancel {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    color: #333;
}

.btn-submit, .btn-cancel {
    height: 45px;
    padding: 0 40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

footer {
  margin-top: 20px;
  display: flex;
  padding: 20px;
  justify-content: center;
  font-weight: 400px;
  align-items: center;
  background-color: #f4eeee;
}