@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #FF8C00;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}


.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.logoimg{
    width: 250px
}


.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 50px;
    white-space: nowrap;

}

.nav-ul a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 500px;
    display: flex;
}

.nav-ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.report-incident {
    background-color: white;
    border-radius: 8px;
    padding: 8px 25px;
}

a {
    text-decoration: none;
    color: black;
}



.title-banner {
    background-color: #fff0f2;
    text-align: center;
    padding: 60px 0;
}

.title-banner h1 {
    font-size: 60px;
    margin: 0;
    font-weight: normal;
}

.content-area {
    max-width: 1000px;
    margin: 50px auto 100px auto; 
    padding: 0 40px;
}

.content-area h2 {
    font-size: 32px;
    color: #1a1a1a;
    margin-top: 40px;
    margin-bottom: 20px;
    border: none; 
    text-align: left; 
}

.main-text {
    font-size: 17px;
    line-height: 1.6;
    text-align: left; 
    color: #333;
}

.main-text ul {
    padding-left: 20px;
    margin-top: 15px;
}

.main-text li {
    margin-bottom: 10px;
}
footer {
    margin-top: auto;
    height: 25px;
    background-color: #f3eeed;
    text-align: center;
    padding: 30px; 
}